<h1 class="mb-4">New Entry for <%= @place.name %></h1>

<form action="/entries" method="post" enctype="multipart/form-data" class="mb-4">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="place_id" value="<%= @place.id %>">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" id="title" class="form-control">
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" class="form-control" rows="4"></textarea>
  </div>

  <div class="mb-3">
    <label for="occurred_on" class="form-label">Date</label>
    <input type="date" name="occurred_on" id="occurred_on" class="form-control">
  </div>

  <div class="mb-3">
    <label for="uploaded_image" class="form-label">Images</label>
    <input type="file" name="uploaded_image" id="uploaded_image" class="form-control">
  </div>


  <button class="btn btn-primary">Save Entry</button>
</form>

<div>
  <a href="/places/<%= @place.id %>" class="btn btn-secondary">Back to <%= @place.name %></a>
</div>